.qualityInspection {
  background-color: #dcdcdc !important;
  height: auto;
}

.heading {
  color: white;
  font-size: 17px;
  margin-top: 4%;
  width: 100%;
  margin-left: 3%;
}
.header {
  background: #006fba;
}
.body {
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 1%;
}
.card {
  min-height: 400px;
  max-height: auto;
}
